{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Sign Up
{% endblock title %}


{% block content %}
<div class="page-wrap">


    <h1>Sign up for a free, programmable GroupMe bot!</h1>
    <h1>What can the bot do? <a href="{% url "guide" %}"> Find out!</a></h1>
<div class="row" align="left">
    <div class="col-sm-offset-3 col-sm-6">
        <h2>Sign Up:</h2>
        <h3>1. Create a GroupMe bot: <a href="{% url 'create_bot_instructions' %}">Guide</a>.</h3>
        <h3>2. Fill out form below and submit.</h3>
    </div>
    <div class="col-sm-offset-3 col-sm-6">
        <form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
            {{ bot_form | crispy }}
            <input type='submit' class='btn btn-primary' value='Create Bot' />
        </form>
        <p>* indicates required field</p>
    </div>
</div>
</div>
{% endblock content %}