{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Sign Up
{% endblock title %}


{% block content %}
<div class="container-fluid">

    <div class="row" align="center">
        <div class="col-sm-12">
        <h1>Create a free, programmable GroupMe bot!</h1>
        <h1>What can the bot do? <a href="{% url "guide" %}"> Find out!</a></h1>
        </div>
    </div>
    <div class="row" align="left">
        <div class="col-sm-offset-4 col-sm-4">
            <h3>1. Add a bot to your chat: <a href="{% url 'create_bot_instructions' %}">Guide</a>.</h3>
            <h3>2. Activate bot:</h3>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            <form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
                {{ bot_form | crispy }}
                <input type='submit' class='btn btn-primary' value='Activate Bot' />
            </form>
            <p>* indicates required field</p>
        </div>
    </div>
</div>
{% endblock content %}